body{
    background-color: cadetblue;
    margin: 30px;
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
    list-style-type: none;
    border: solid whitesmoke; 
    padding: 2%;
    background-color: teal;
}

h1 {
    display: flex; 
    justify-content: center;
}

h3 {
    display: flex; 
    justify-content: center;
}

#details{
    border: solid whitesmoke;
    padding: 2%;
}

#img{
    border: solid whitesmoke;
    padding: 2%;
    display: flex;
    justify-content: center;
    background-color: teal;
}

#items{
    display: inline-block;
    border: white solid;
    justify-content: center;
    padding: 2%;
    background-color: cadetblue;

}

#desc {
    border: solid whitesmoke;
    padding: 2%;
    background-color: cadetblue;
    text-align: center;
}

.anchor{
    color: whitesmoke;
}

.class {
    display: flex;
    text-align: center;
}

.link{
    text-align: center;
}


.signin{
    border: whitesmoke solid;
    background-color: teal;
    display: flex;
    justify-content: center;
    padding: 2%;
}

.sign{
    border: whitesmoke solid;
    background-color: teal;
    display: flex;
    padding: 1%;
}