body{
    background-color: cadetblue;
    margin: 30px;
    color: whitesmoke;
}

ul {
    list-style-type: none;
    border: solid whitesmoke; 
}

h1 {
    display: flex; 
    justify-content: center;
}